/* exercise 5*/
*{font-family: 'Unbounded', cursive;
}

/* utilities 
__________________*/

.rowpadding {
    padding-top: 4%;
}

.uppercase {
    text-transform: uppercase;
}

.sticky {
    position: fixed;
    position: sticky;
    top: 0;
}

.twelve.columns{
    text-align: center;
}

.extrapad {
    padding-bottom: 4%;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 249, 144);
    border-radius: 10%;
    animation-name: rectangle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.transition{
    opacity: 80%;
    transition: opacity 1s;
}

/* elements 
___________________*/

header {
    text-align: center;
}
nav {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    position: relative;
    z-index: 999;
}
nav li {
    list-style: none;
    display: inline;
}

nav a {
    margin: 10px;
    color: rgb(234, 141, 187);
    text-decoration: none;
}

footer {
    text-align: center;
    clear: both;
}

hr {
    clear: both;
}

h1 {
    font-weight: bold;
}

h6 {
    line-height: .5em;
    color: rgb(168, 168, 168);
}



body {
    background-color: white;
}

a:link {
    color:rgb(234, 141, 187);
}

a:visited {
    color: rgb(57, 117, 173);
}

a:hover {
   color:  rgb(236, 64, 113)
}
a:active {
    color: rgb(236, 64, 113);
}

.transition:hover {
    opacity: 100%;
}

@keyframes rectangle {
    0% {width: 50px;}
    50% {width: 100%;}
    100% {width: 50px;}
}