*{font-family: 'Unbounded', cursive;
}


body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

article {
    margin: 0;
    padding-left: 30px;

}

h1 {
    text-align: center;
    color:rgb(0, 0, 0);
    margin: 0;
    font-size: 5em;
}

nav {text-align: center;}
    nav a {
        color: rgb(0, 0, 0);
        margin: 2%;
    }
    nav li {
        list-style: none;
        display: inline;
    
    }

header {
    background-color: rgb(227, 158, 215);
    margin: 0;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-image: url(images/foxface.png);
    background-repeat: repeat-x;
    background-size: 10%;
    /* background-blend-mode: multiply; */
}
hr {
    margin: 0;
    background-color: rgb(0, 0, 0);
    height: 2px;
    border: 0;
}
img {
    width: 25%;
    height: auto;
    margin-left: -30px;

}
footer {
    margin: 0;
    padding-left: 30px;
    text-align: center;
}
h3 {
    line-height: 2em;
}
p.capitalize {
    text-transform: uppercase;
}
a:link {
    color:rgb(0, 0, 0);
    padding: 5px;
}

a:visited {
    color: rgb(116, 95, 136);
}

a:hover {
    color: rgb(231, 238, 207);
}
a:active {
    color: rgb(236, 64, 113);
}
h2.dottedunderline {
    text-decoration: underline dotted;
    text-decoration-thickness: 5px;
}