*{margin: 0; padding: 0;}

*{font-family: 'Unbounded', cursive;
}

.text-column-left {
    width: 40%;
    padding-top: 2%;
}

.col-49 {
    width: 49%;
    float: left;
}

.list-text{
    font-size: .8em;
    line-height: 1.5em;
}

.text-columnn-left {
    width: 55%;
    float: right;
    padding-top: 2%;
}
.paragraph {
    line-height: 2em;

}


p.capitalize {
    text-transform: uppercase;
}

#wrapper {
    width: 80%;
    margin:auto;
}

#header {
    width: 100%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: rgb(227, 158, 215);
    text-align: center;
    background-image: url(images/foxface.png);
    background-repeat: repeat-x;
    background-size: 13%;
    overflow: visible;

}

#nav {
    width: 100%;
    margin: auto;

}

#paragraph {
    width: 80%;
    margin: auto;
}

#footer {
    clear: both;
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}


body {
    background-color: rgb(255, 255, 255);

}

article {
    margin: 0;

}

h1 {
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 500%;
}

h3 {
    padding-top: 1%;
    padding-bottom: 1%;
}

nav {
    text-align: center;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: rgb(248, 239, 106);
    padding-top: 2%;
    padding-bottom: 1%;
}
    nav a {
        color: rgb(0, 0, 0);
        margin: 2%;
    }
    nav li {
        list-style: none;
        display: inline;
    }

hr {
    clear: both;
    margin: 0;
    background-color: rgb(0, 0, 0);
    height: 2px;
    border: 0;
}
img {
    width: 40%;
    height: auto;
    z-index: 100;

}
    
h3 {
    line-height: 2em;
}

a:link {
    color:rgb(0, 0, 0);
    padding: 5px;
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
   color:  rgb(227, 158, 215)
}
a:active {
    color: rgb(236, 64, 113);
}
h2.dottedunderline {
    text-decoration: underline dotted;
    text-decoration-thickness: 5px;
}