
/* 
* {font-family: 'Jost', sans-serif;}

* {
    font-family: 'Oxanium', cursive;} */


    /* font classes */
    .oxanium{
        font-family: 'Oxanium', cursive;    
    }
    
    .jost{
        font-family: 'Jost', sans-serif;
    }
    

/*utilities
____________________________*/

.title {
    font-family: 'Jost', sans-serif;
    font-size: 400%;
    font-weight: medium;
}

.bkgpink {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 120, 142);
}

.textoverlap {
    position: relative;
}

.topleft {
    position: absolute;
    top: 30%;
    left: 15 px;
}

/* IDs */

#signal {
    font-family: 'Oxanium', cursive;
    font-size: 800%;
    font-weight: 800;
}

#landing {
    text-align: center;
}

#bkgpinkhalf {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 120, 142);
    background-image: linear-gradient(to bottom, transparent);
}
/*elements
____________________________*/

body {
    background-color: rgb(36, 36, 36);
    color: aliceblue;
}

img {
    column-width: 200%;
}