
/* 
* {font-family: 'Jost', sans-serif;}

 * {
    font-family: 'Oxanium', cursive;} */


    /* font classes */
    .quote{
        font-family: 'Oxanium', cursive;    
    }
    
    .paragraph{
        font-family: 'Jost', sans-serif;
    }
    

/*utilities
____________________________*/

.container {
    font-family: 'Jost', sans-serif;
}
.jostmedium{
    font-weight: 500;
}

.Rubik{
    font-family: 'Rubik Mono One', sans-serif;
}
/*elements
____________________________*/

body {
    background-color: rgb(36, 36, 36);
    color: aliceblue;
}

img {
    column-width: 200%;
}