
/* 
* {font-family: 'Jost', sans-serif;}

* {
    font-family: 'Oxanium', cursive;} */


    /* font classes */
    .oxanium{
        font-family: 'Oxanium', cursive;    
    }
    
    .jost{
        font-family: 'Jost', sans-serif;
    }
    
    .quotes {
        font-family: 'Signika Negative', sans-serif;
        font-size: 3em;
        font-weight: 700;
    }
    

/*utilities
____________________________*/

.title {
    font-family: 'Jost', sans-serif;
    font-size: 4em;
    font-weight: medium;
}

.bkgpink {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 120, 142);
}

.textoverlap {
    position: relative;
    margin-top: -600px;
}

.topleft {
    position: absolute;
    top: 30%;
    left: 15 px;
}

.bottompad300{
    padding-bottom: 300px;
}

.bottompad100{
    padding-bottom: 100px;
}

.textmargin{
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.question {
    padding-left: 100px;
    padding-right: 100px;
}

.swoontag {
    text-align: right;
}

/* type treatment
________________________________ */

.tracklarge {
    letter-spacing: .2em;
}

.tracksmall {
    letter-spacing: .1em;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 800;
}

.pinktext {
    color: rgb(255, 120, 142);
}

.orangetxt{
    color: rgb(238,131,54);
}

.leading{
    line-height: .6em;
}

.bluetxt {
    color: rgb(102, 211, 217);
    font-weight: 800;
}

/* IDs 
________________________________*/

#signal {
    font-family: 'Oxanium', cursive;
    font-size: 12em;
    font-weight: 800;
    line-height: .6em;
}

#landing {
    text-align: center;
    padding-top: 100px;
}


/*elements
____________________________*/

body {
    background-color: rgb(36, 36, 36);
    background-image: url(../images/wheatpastedark-01.svg);
    background-size: 100vw;
    background-repeat: repeat;
    color: aliceblue;
}

img {
    column-width: 200%;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h4 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}
